{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#180136">
    <meta name="description"
          content="An immersive virtual environment where startups and entrepreneurs can get personalized education, build professional network entirely in VR.">

    <link rel="shortcut icon" type="image/png" sizes="167x167" href="{% static 'images/favicon-43-min.png' %}"/>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600i,700&display=swap" rel="stylesheet">


    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'login/login.css' %}"/>
    <title>Vriendly</title>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: rgb(255, 255, 255);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }


        .dropdown:hover .dropdown-content {
            display: block;
        }

        #edit {
            border: 1px solid white;
            border-bottom: none;
        }

        #logout {
            border: 1px solid white;
            border-top: none;
        }

        hr {
            padding-left: 5px !important;
            padding-right: 5px !important;
            margin: 0;
            width: 120px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            text-align: center;
            position: relative;
            left: 12px;
        }
    </style>
</head>
<body>

<!-- LOADING STARTS-->
<div class="wrapper">
    <div class="loader">
    </div>
    <img src="{% static 'images/dls-circle-text-44-min.png' %}" alt="Discover, Learn, Socialize.">
    <img src="{% static 'images/dls-pattern-min.png' %}" alt="pattern">
    <img src="{% static 'images/dls-pattern-min.png' %}" alt="pattern">
</div>
<!-- LOADING ENDS-->


<!-- HEADER START -->
<div class="header-bg">
    <img src="{% static 'images/header-bg-01-min.png' %}" alt="header background image" />
</div>


<header>
    <div class="logo">
        <a href="#main"><img src="{% static 'images/logo-old-02-min.png' %}" alt="Vriendly logo"/></a>
    </div>

    <!-- NAVIGATION FOR BIG SCREENS START -->
    <nav class="big-screen">
        <ul>
            <li class="our-company">
                <p><span>Our Company</span></p>
                <div class="items">
                    <a class="about-us" href="{% url 'core:index-page' %}"><span>Our Story</span></a>
                    <a href="{% url 'core:index-page' %}"><span> Advantages</span></a>
                    <a href="{% url 'core:index-page' %}"><span> Team</span></a>
                    <a href="{% url 'core:index-page' %}"><span> Partners</span></a>

                </div>
            </li>
            <li class="what-we-do">
                <p><span>What We Do</span></p>
                <div class="items">
                    <!-- <a href="#how-it-works"><span>How It Works</span></a> -->
                    <a href="{% url 'core:index-page' %}"><span>Milestones</span></a>
                    <a href="{% url 'core:index-page' %}"><span>Customers</span></a>
                    <a href="{% url 'core:index-page' %}"><span> Video</span></a>
                </div>
            </li>
            <li class="who-we-are">
                <p><span>Pricing</span></p>
                <div class="items">
                    <a href="{% url 'core:index-page' %}"><span> Subscription</span></a>
                    <a href="{% url 'core:index-page' %}"><span>Single event</span></a>
                </div>
            </li>
            <li style="display: none" class="order-vriendly">
                <p><span>Order Vriendly</span></p>
                <div class="items">
                    <a href="register.html"><span>Registration</span></a>
                </div>
            </li>
            <li class="upcoming"><a href="{% url 'core:upcoming-page' %}"><span>Upcoming session</span></a></li>
            <li class="sign-up-for-beta"><a href="{% url 'core:sing-for-beta-page' %}"><span>Sing up for Beta</span></a></li>

        </ul>
    </nav>

    <!-- <div class="sound-lang-wrapper">
        <div class="sound">
            <img src="./images/sound-on-icon-min.png" alt="Sound volume icon"/>
        </div>

        <div class="lang-container">
            <div class="languages">
                <p>EN</p>
                <p>RU</p>
                <p>AZ</p>
            </div>
            <img class="down-arrow" src="./images/down-arrow-01-min.png" alt="down arrow"/>

        </div>
    </div> -->
    <!-- NAVIGATION FOR BIG SCREENS END -->

   <!-- NAVIGATION FOR SMALL SCREENS START -->

   <nav class="small-screen">
    <ul>
        <li class="our-company" id="ourcompany">
            <a href="{% url 'core:index-page' %}"><span>Our Company<img src="{% static 'images/down-arrow-01-min.png' %}"
                                                        alt="right arrow"></span></a>
            <div class="items">
                <a href="{% url 'core:index-page' %}"><span>Our Story</span></a>
                <a href="{% url 'core:index-page' %}"><span> Advantages</span></a>
                <a href="{% url 'core:index-page' %}"><span> Team</span></a>
                <a href="{% url 'core:index-page' %}"><span> Partners</span></a>

            </div>
        </li>

        <li class="what-we-do" id="whatwedo">
            <a href="{% url 'core:index-page' %}"><span>What We Do<img src="{% static 'images/down-arrow-01-min.png' %}" alt="right arrow"></span></a>
            <div class="items">
                <!-- <a href="#how-it-works"><span>How It Works</span></a> -->
                <a href="{% url 'core:index-page' %}"><span>Milestones/span></a>
                <a href="{% url 'core:index-page' %}"><span> Customers</span></a>
                <a href="{% url 'core:index-page' %}"><span>Video</span></a>
            </div>
        </li>
        <li class="who-we-are" id="whoweare">
            <a href="{% url 'core:index-page' %}"><span>Pricing<img src="{% static 'images/down-arrow-01-min.png' %}" alt="right arrow"></span></a>
            <div class="items">
                <a href="{% url 'core:index-page' %}"><span> Subscription</span></a>
                <a href="{% url 'core:index-page' %}"><span>Single event</span></a>
            </div>
        </li>
        <li class="upcoming"><a href="upcoming.html"><span>Upcoming session</span></a></li>
        <li class="sign-up-for-beta"><a href="{% url 'core:sing-for-beta-page' %}"><span>Sign up for Beta</span></a></li>

    </ul>
</nav>

<div class="nav-button">
    <span class="nav-icon"></span>
</div>

<img class="pattern-sm-screen" src="{% static 'images/about-us/pattern-about-us-02-min.png' %}" alt="pattern">
    <!-- NAVIGATION FOR SMALL SCREENS END -->

    {% if request.user.is_authenticated %}

        <div class="header-cta-button dropdown">
            <a href="#" class="svg-button">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%" />
                </svg>
                {{ request.user.username }}
            </a>
            <div class="dropdown-content">
            <a id="edit" href="{% url 'accounts:user-profile' request.user.slug  %}">Edit</a>
<hr>
            <a id="logout" href="{% url 'accounts:log-out' %}">Log Out</a>
            </div>
            
        </div> 

        {% else %}

        <div class="header-cta-button">
            <a href="{% url 'accounts:login' %}" class="svg-button">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%" />
                </svg>
                Try Vriendly
            </a>
        </div>
        {% endif %}
</header>



<!-- HEADER END -->

<!-- MAIN START -->
<main id="main">
    <div class="bg-image">
        <div class="login-container">
            <h1 class="login-title">Sign for Beta</h1>
            <form class="login-form" method="POST">
                {% csrf_token %}
                {{form.non_field_error}}
                {{form.full_name}}
                {{form.full_name.errors}}
                {{form.company}}
                {{form.company.errors}}
                {{form.email}}
                {{form.email.errors}}

            <input class="form-submit" value="Talk to Sales" type="submit">

           </form>
        </div>
    </div>
</main>
<!-- MAIN END -->

<!-- FOOTER START -->
<footer id="contact-us">
    <div class="footer-big-screen">
        <div class="upper">
            <div class="our-company">
                <h2>Our Company</h2>
                <div class="items">
                    <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>About Us</span></a>
                    <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Competitive Advantages</span></a>
                    <a rel="noreferrer" href="#"><span>Features</span></a>
                </div>
            </div>
            <div class="what-we-do">
                <h2>What We Do</h2>
                <div class="items">
                    <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Roadmap</span></a>
                    <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Happy Customers</span></a>
                    <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Demo Video</span></a>
                </div>
            </div>
            <div class="who-we-are">
                <h2>Who We Are</h2>
                <div class="items">
                    <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Our Team</span></a>
                    <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Our Partners</span></a>
                </div>
            </div>
            <div class="contact-us">
                <h2>Contact Us</h2>
                <div class="items">
                    <a rel="noreferrer" id="mail-to" href="mailto:info@vriendly.co">
                        <p>info@vriendly.co</p>
                    </a>
<!--                    <p id="phone">+16174190727</p>-->
<div class="links">
    <a rel="noreferrer" href="https://www.linkedin.com/company/vriendly1/" target="_blank"><img
            src="{% static 'images/footer/linkedin-footer-min.png' %}" alt="linkedin"></a>
    <a rel="noreferrer" href="https://twitter.com/VriendlyXR" target="_blank"><img
            src="{% static 'images/footer/twitter-footer-min.png' %}" alt="twitter"></a>
    <a rel="noreferrer" href="https://www.facebook.com/vriendlyxr/" target="_blank"><img
            src="{% static 'images/footer/facebook-footer-min.png' %}" alt="facebook"></a>
</div>
                </div>
            </div>
        </div>

        <div class="lower">
            <div class="copyright">
                <p>&copy; Copyright 2021, Vriendly.</p>
            </div>
        </div>
    </div>

    <!-- FOOTER FOR SMALL SCREENS -->
    <div class="footer-sm-screen">

        <div class="our-company">
            <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>About Us</span></a>
            <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Competitive Advantages</span></a>
            <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Features</span></a>
        </div>
        <div class="what-we-do">
            <!-- <a href="#how-it-works"><span>How It Works</span></a> -->
            <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Roadmap</span></a>
            <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Happy Customers</span></a>
            <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Demo Video</span></a>
        </div>
        <div class="who-we-are">
            <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Our Team</span></a>
            <a rel="noreferrer" href="{% url 'core:index-page' %}"><span>Our Partners</span></a>
        </div>
        <div class="contact-us">
            <a rel="noreferrer" href="mailto:info@vriendly.co">
                <p>info@vriendly.co</p>
            </a>
            <div class="links">
                <a rel="noreferrer" href="https://www.linkedin.com/company/vriendly1/"
                    target="_blank"><img src="{% static 'images/footer/linkedin-footer-min.png' %}"
                        alt="linkedin"></a>
                <a rel="noreferrer" href="https://twitter.com/VriendlyXR" target="_blank"><img
                        src="{% static 'images/footer/twitter-footer-min.png' %}" alt="twitter"></a>
                <a rel="noreferrer" href="https://www.facebook.com/vriendlyxr/" target="_blank"><img
                        src="{% static 'images/footer/facebook-footer-min.png' %}" alt="facebook"></a>
            </div>
        </div>

       
        <div class="phone">
<!--            <p>+16174190727</p>-->
        </div>

        <div class="copyright">
            <p>&copy; Copyright 2021, Vriendly.</p>
        </div>
    </div>

</footer>
<!-- FOOTER END -->

<div class="tracker"></div>

<!-- animations on scroll -->
<script src="{% static 'login/login.js' %}"></script>
<script src="{% static 'upcoming/upcoming-animation.js' %}"></script>
<!-- <script src="/js/animations.js"></script> -->


</body>
</html>
